html, body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.layout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.layout__top {
    flex: 1;
    display: flex;
}
.layout__sidebar {
    width: 300px;
    display: flex;
}
.layout__main {
    flex: 1;
    display: flex;
    overflow: auto;
}
.layout__footer {
    height: 96px;
    display: flex;
}

.sidebar {
    background-image: linear-gradient(to top, #010b1e 0%, #020b1c 100%);
    opacity: 0.91;
    padding-left: 25px;
    padding-top: 30px;
    padding-right: 25px;
    flex: 1;
    overflow: auto;
}

.menu_margin_bottom {
    margin-bottom: 33px;
}

.menu__header {
    text-transform: uppercase;
    color: #3b4c64;
    font-family: "Raleway Medium", sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.68px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 17px;
}

.menu__list {
    color: #a9a9a9;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.menu__item {
    margin-bottom: 21px;
}

.menu__link {
    text-decoration: none;
    color: #a9a9a9;
}

.menu__link:hover {
    color: #dcdcdc;
}

.dots_margin_bottom {
    margin-bottom: 50px;
}

.dots__item {
    display: inline-block;
    line-height: 13px;
    width: 13px;
    height: 13px;
    background-color: #3b4c64;
    margin-right: 10px;
    border-radius: 50%;
}

.player {
    background-image: linear-gradient(to top, #020814 0%, #030d20 100%);
    opacity: 0.98;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.player-artist {
    border: 2px solid red;
    width: 40px;
    height: 40px;
}

.player-controls {
    width: 205px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
}

.player-sound {
    border: 2px solid red;
    width: 40px;
    height: 40px;
}

.main-content {
    flex: 1;
    background-color: #020916;
}

.player-controls__back {
    background-image: url("./images/backward.png");
}

.menu-controls__desc {
    display: inline-block;
    text-decoration: none;
    color: #d4d4d4;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.09px;
    margin-top: 6px;
}

.menu-controls {
    display: flex;
    justify-content: space-between;
}

.menu-controls_margin_bottom {
    margin-bottom: 34px;
}

.menu-controls__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.menu-controls__item:hover .menu-controls__desc {
    color: #f9f9f9;
}

.menu-controls__item-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #d4d4d4;
    border-radius: 50%;
    width: 49px;
    height: 49px;
}

.icon {
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    display: inline-block;
}

.icon_type_browse {
    background-image: url("./images/browse.png");
}

.icon_size_radio {
    width: 21px;
    height: 15px;
    background-size: cover;
}

.icon_type_radio {
    background-image: url("./images/radio.png");
}

.icon_size_heart {
    width: 15px;
    height: 15px;
}

.icon_type_heart {
    background-image: url("./images/heart.png");
}

.menu-button {
    width: 100%;
    padding-top: 11px;
    padding-bottom: 11px;
    border-radius: 23px;
    color: #212020;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.07px;
    background-image: linear-gradient(270deg, #1ed761 0%, #1e64d7 100%);
    border: none;
}

.menu-button_margin_bottom {
    margin-bottom: 25px;
}

.menu-button:focus {
    outline: none;
}

.add-form__input {
    width: 100%;
    border-radius: 23px;
    background-image: linear-gradient(to top, #010b1e 0%, #020b1c 100%);
    border: 1px solid #3b4c64;
    padding: 11px 40px 11px 25px;
    color: #597193;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.06px;
}

.add-form__input:focus {
    outline-width: 0;
    border-color: #6C88AF;
    color: #dcdcdc;
}

.add-form {
    position: relative;
}

.icon_size_plus {
    width: 15px;
    height: 14px;
}

.icon_type_plus {
    background-image: url("images/plus.png");
}

.add-form__link {
    position: absolute;
    right: 18px;
    top: 12px;
}

.plus-link:hover {
    color: #dcdcdc;
}

.icon_size_arrow-up {
    width: 11px;
    height: 7px;
    background-size: cover;
}

.icon_type_arrow-up {
    background-image: url("./images/arrow_up.png");
}

.shuffle-icon {
    background-image: url("images/shuffle.png");
    width: 15px;
    height: 11px;
    background-repeat: no-repeat;
}

.pause-icon {
   background-image: url("./images/pause.png");
   width: 17px;
   height: 17px;
   background-repeat: no-repeat;
}

.backward-icon {
    background-image: url("./images/backward.png");
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
}

.forward-icon {
    background-image: url("./images/forward.png");
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
}

.repeat-icon {
    background-image: url("images/repeat.png");
    width: 15px;
    height: 11px;
    background-repeat: no-repeat;
}
